<h3>Вы авторизованы, как: <u>{{ user }}</u></h3> <a href={% url 'account_logout' %}>Выйти</a><br><br><br>
{% if author_comments %}
    <table align="center" bordercolor="black" border="2" width="100%">
        <thead>
            <tr>
                <th>Содержание</th>
                <th>Объявление</th>
                <th>Подтверждено</th>
                <th>Время публикации</th>
                <th></th>
            </tr>
        </thead>
        {% for comment in author_comments %}
        <tbody>
            <tr>
                <td>{{ comment.com_body }}</td>
                <td>{{ comment.com_ann }}</td>
                <td>{% if comment.com_confirmed %}ДА{% else %}НЕТ{% endif %}</td>
                <td>{{ comment.com_time_in|date:"d-m-Y H:i" }}</td>
                <td><button> <a href={% url 'comment_edit' comment.id %}>Редактировать</a></button>
                    <button> <a href={% url 'comment_delete' comment.id %}>Удалить</a> </button></td>
            </tr>
        </tbody>
        {% endfor %}
    </table><br><br><br>
{% else %}
    <h2>У вас нет откликов</h2>
{% endif %}
<a href={% url 'main' %}><u>Назад</u></a>