<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Обновления на сайте MMORPG-announcements</title>
</head>
<body>
    <h2>Ув. Пользователь MMORPG-announcements,</h2>
    <p>Хотим вам представить обновления за неделю на нашем сайте:<br>
        {% for ann in new_anns %} <b><<{{ ann }}>></b><br> {% endfor %}<br><br>
        С Уважением!<br>www.mmorpg-announcements.test (http://127.0.0.1:8000)</p>
</body>
</html>